@import url(http://localhost:63342/frontend-html-css-domeinshop/index.html?_ijt=i1g88hplj3qcjvqgp1pndnof93&_ij_reload=RELOAD_ON_SAVE);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
       color: #1C2B32;}
/*////////////////////////
    3. Areas
////////////////////////*/

/*///////////// 3.1 Header /////////////*/
    .header-section{   background-image: url("../assets/images/mountains.jpg");
       background-size: cover;
    background-repeat: no-repeat;
       background-position: center;
        height: 550px;
       text-align: center;
        justify-content: center;
        display: block;
   }
.header-section h1 {
    font-size: 100px;
    margin: auto;
}

/*////////////////////////
    2. Typography
////////////////////////*/

input{
    border-style: solid;
    border-color: #1C2B32;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    padding: 20px 20px;
    margin-right: -5px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
}
::placeholder {
    color: #1C2B32;
}
.searchbox-button {
    margin-left: -2px;
    background: #1C2B32;
    color: aliceblue;
    font-size: 18px;
    cursor: pointer;
    padding: 20px 20px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
}

/*///////////// 3.2 Testimonial /////////////*/
h2{
    font-family: poppins, serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.review{
    width: 1200px;
    text-align: left;
    font-size: 18px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #1C2B32;
    padding: 40px 60px;
}
.jane{
    vertical-align: middle;
margin: 15px}
.review1{
    width: 1200px;
    text-align: left;
    font-size: 18px;
    margin-top: 80px;
    margin-left: 90px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #1C2B32;
    padding: 40px 60px 40px 60px;
}
.john{
    vertical-align: middle;
    margin: 15px;
}
/*///////////// 3.3 Support /////////////*/
h3{
    font-family: poppins, serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.d-button{
    margin: 40px;
    padding: 20px 20px 20px 20px;
    background: #1C2B32;
    color: aliceblue;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;

}
/*///////////// 3.4 Faq /////////////*/
div{
    font-size: 18px;
    color: #1C2B32;
    font-family: poppins, serif;
}
details{
    font-family: poppins, serif;
    color: #1C2B32;
    font-size: 18px;
}
details summary{
    padding: 2px 6px;
    margin: 15px;
    cursor: pointer;
}
details p{
    background-color: #899CA0;
    color: aliceblue;
    width: 60em;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
}
/*///////////// 3.5 Footer /////////////*/
footer{
    background-color: #1C2B32;
    font-family: inherit;
    color: #899CA0;
    text-align: center;
    padding: 40px;
}





























